body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: center; /* Centra el contenido horizontalmente */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
}

/* Estilo del título principal */
h1 {
    font-size: 2rem;
    color: #003366;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo de las secciones */
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

/* Estilo de los encabezados de sección */
.pleca {
    font-size: 1.2rem;
    font-weight: bold;
    color: #003366;
    padding: 10px 0;
    border-bottom: 2px solid #66CCFF;
    margin-bottom: 10px;
}

/* Estilo de los párrafos y listas */
p, ul {
    font-size: 1rem;
    color: #333;
    margin: 5px 0;
    padding-left: 20px;
}

/* Estilo específico para las listas */
ul {
    padding-left: 40px;
}

li {
    margin-bottom: 10px;
}

/* Estilo del contenedor de tablas */
.tables {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    gap: 30px; /* Espacio entre las tablas */
}

/* Estilo de las tablas */
.table {
    width: 100%;
    max-width: 1000px; /* Limita el ancho de las tablas para que no se extiendan demasiado */
    border-collapse: separate;
    border-spacing: 0 15px; /* Espacio entre las filas de la tabla */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Sombra más prominente */
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
}

.table thead th {
    background-color: #003366;
    color: #fff;
    font-weight: bold;
}

/* Estilo para las celdas de encabezado y cuerpo */
.table th, .table td {
    padding: 12px 20px; /* Espaciado interno más amplio */
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/* Estilo para las filas del cuerpo */
.table tbody tr {
    background-color: #f9f9f9; /* Color de fondo general para las filas */
}

/* Estilo para filas pares */
.table tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Color de fondo para filas pares */
}

/* Estilo para filas en hover */
.table tbody tr:hover {
    background-color: #e6f7ff; /* Color de fondo al pasar el ratón sobre una fila */
}

/* Estilo para las celdas que abarcan varias columnas */
.table td[colspan] {
    background-color: #e6e6e6;
    font-weight: bold;
    text-align: center; /* Alineación centrada para las celdas que abarcan varias columnas */
}

/* Estilo para las imágenes de las banderas */
.table td img.flag-img {
    width: 40px; /* Ajusta el tamaño según lo necesites */
    height: auto;
    vertical-align: middle; /* Alinea verticalmente la imagen */
    margin-right: 8px; /* Espaciado a la derecha de la imagen */
}
