.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vw;
}

.hero-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 90%;
}

.hero-content {
    max-width: 50%;
    padding: 5vw;
}

.hero-content h1 {
    font-size: 4vw;
    margin-bottom: 2vw;
    color: #003366;
}

.hero-content p {
    font-size: 1.5vw;
    line-height: 1.8;
    color: #555;
}

.hero-image {
    max-width: 50%; 
    padding: 5vw;
    margin-top: 14vw; 
}

.hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 2vw;
    border: 0.2vw solid #66CCFF;
}

/* Ajustes adicionales para pantallas más pequeñas */
@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        margin-top: 3vw;
    }

    .hero-content, .hero-image {
        max-width: 90%;
        padding: 3vw;
    }

    .hero-content h1 {
        font-size: 6vw;
        margin-bottom: 4vw;
    }

    .hero-content p {
        font-size: 4vw;
    }

    .hero-image img {
        border-radius: 3vw;
        border: 1vw solid #66CCFF;
    }
}
