/* Centrar contenido */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.content {
    max-width: 70%;
    padding: 20px;
    border-radius: 10px;
}

/* Estilo para el título */
h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

/* Secciones y plecas */
.section {
    width: 100%;
    margin-bottom: 20px;
}

.pleca {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 0;
    border-bottom: 2px solid #66CCFF;
    margin-bottom: 10px;
}

/* Estilo para párrafos y listas */
.content p, ul {
    font-size: 1rem;
    margin: 5px 0;
    padding-left: 20px;
}

.content ul {
    padding-left: 40px;
}

.content li {
    margin-bottom: 10px;
}

.section-images {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.section-images img {
    width: calc(50% - 20px);
    height: auto;
    border-radius: 10px;
    border: 2px solid #66CCFF;
    transition: transform 0.3s ease;
}
