.content {
    max-width: 600px; /* Ajusta este valor según sea necesario */
    margin: 0 auto; /* Centra el contenedor */
}

.content h1 {
    font-size: 32px; /* Tamaño de la fuente para el encabezado */
    font-weight: bold; /* Peso de la fuente mayor */
    color: #003366; /* Azul Oscuro */
    margin-bottom: 20px; /* Espaciado inferior */
    text-transform: uppercase; /* Texto en mayúsculas */
    text-align: center; /* Centrar el encabezado */
}

.content ul {
    list-style-type: none; /* Quitar los puntos de la lista */
    padding: 0; /* Quitar el padding */
}

.content li {
    margin: 10px 0; /* Espaciado vertical entre los elementos de la lista */
}

.content li a {
    display: inline-block; /* Hacer que el enlace ocupe solo el ancho necesario */
    font-size: 24px; /* Tamaño de la fuente grande */
    font-weight: bold; /* Peso de la fuente mayor */
    color: #003366; /* Azul Oscuro */
    padding: 10px; /* Espaciado interno */
    border-bottom: 2px solid #66CCFF; /* Línea inferior en Celeste */
    text-transform: uppercase; /* Texto en mayúsculas */
    text-decoration: none; /* Quitar subrayado de los enlaces */
    transition: color 0.3s, border-color 0.3s; /* Transiciones suaves */
}

.content li a:hover {
    color: #3399FF; /* Cambiar color del texto al pasar el ratón (Azul Medio) */
    border-color: #3399FF; /* Cambiar color de la línea inferior al pasar el ratón (Azul Medio) */
}
