input[type="radio"] {
    display: none;
}

.select {
    display: block;
    cursor: pointer;
    position: relative;
    padding-left: 3rem; /* Padding izquierdo ajustado */
    margin-bottom: 0.5rem; /* Espaciado vertical ajustado */
    font-size: 1rem; /* Tamaño de fuente ajustado */
    border: 1px solid #006633; 
    border-radius: 0.5rem; 
    padding: 0.625rem 1.25rem; /* Padding ajustado */
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); 
    transition: background 0.3s, box-shadow 0.3s; 
    max-width: 40%;
    color: #003366;
    margin-left: 4rem; /* Mueve el select hacia la derecha */
}

.select:hover {
    box-shadow: 0 0.375rem 0.75rem rgba(0, 0, 0, 0.2); 
}

.select:before {
    content: "";
    display: inline-block;
    width: 1.25rem; /* Tamaño del círculo ajustado */
    height: 1.25rem; 
    border-radius: 50%; 
    border: 0.125rem solid #003366;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
}

input[type="radio"]:checked + span:before {
    content: "";
    width: 0.875rem; /* Tamaño del círculo ajustado */
    height: 0.875rem; 
    border-radius: 50%;
    background-color: #003366;
    position: absolute;
    left: 0.1875rem;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #3399FF;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}






