body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #eff9fb;
    color: #003366;
}

.content {
    text-align: center;
}

.card {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin-top: 1rem;
}

.card form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
}

input[type="radio"] {
    display: none;
}

.select {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding-left: 3rem;
    margin-bottom: 1rem; /* Más espacio entre inputs */
    font-size: 1rem;
    border: 1px solid #006633;
    border-radius: 0.5rem;
    padding: 0.625rem 1.25rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    transition: background 0.3s, box-shadow 0.3s;
    color: #003366;
    width: 100%; /* Largo de la tarjeta */
}

.select:hover {
    box-shadow: 0 0.375rem 0.75rem rgba(0, 0, 0, 0.2);
}

.select:before {
    content: "";
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    border: 0.125rem solid #003366;
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
}

input[type="radio"]:checked + span:before {
    content: "";
    width: 0.875rem;
    height: 0.875rem;
    border-radius: 50%;
    background-color: #003366;
    position: absolute;
    left: 0.625rem;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #3399FF;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}
