body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #eff9fb;
    color: #003366;
    margin: 0;
}

.content {
    text-align: center;
    max-width: 600px;
    width: 100%;
}

.content p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #003366;
    margin: 0.625rem 0;
    padding: 0.625rem;
    border-bottom: 0.125rem solid #66CCFF;
    text-transform: uppercase;
}

.card {
    border-radius: 0.5rem;
    box-shadow: 0 0.375rem 0.75rem rgba(0, 0, 0, 0.1);
    padding: 1rem;
    max-width: 600px;
    width: 100%; /* Asegura que la tarjeta se ajuste al contenedor */
    border: 0.125rem solid #66CCFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px; /* Ajusta según sea necesario para la altura mínima */
}
